footer.footer-section
  .container.relative
    .sofa-img
      img.img-fluid(src='../../assets/images/sofa.png' alt='Image')
    .row
      .col-lg-8
        .subscription-form
          h3.d-flex.align-items-center
            span.me-1
              img.img-fluid(src='../../assets/images/envelope-outline.svg' alt='Image')
            span Subscribe to Newsletter
          form.row.g-3(action='#')
            .col-auto
              input.form-control(type='text' placeholder='Enter your name')
            .col-auto
              input.form-control(type='email' placeholder='Enter your email')
            .col-auto
              button.btn.btn-primary
                span.fa.fa-paper-plane
    .row.g-5.mb-5
      .col-lg-4
        .mb-4.footer-logo-wrap
          a.footer-logo(href='#')
            | Furni
            span .
        p.mb-4
          | Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant
        ul.list-unstyled.custom-social
          li
            a(href='#')
              span.fa.fa-brands.fa-facebook-f
          li
            a(href='#')
              span.fa.fa-brands.fa-twitter
          li
            a(href='#')
              span.fa.fa-brands.fa-instagram
          li
            a(href='#')
              span.fa.fa-brands.fa-linkedin
      .col-lg-8
        .row.links-wrap
          .col-6.col-sm-6.col-md-3
            ul.list-unstyled
              li
                a(href='#') About us
              li
                a(href='#') Services
              li
                a(href='#') Blog
              li
                a(href='#') Contact us
          .col-6.col-sm-6.col-md-3
            ul.list-unstyled
              li
                a(href='#') Support
              li
                a(href='#') Knowledge base
              li
                a(href='#') Live chat
          .col-6.col-sm-6.col-md-3
            ul.list-unstyled
              li
                a(href='#') Jobs
              li
                a(href='#') Our team
              li
                a(href='#') Leadership
              li
                a(href='#') Privacy Policy
          .col-6.col-sm-6.col-md-3
            ul.list-unstyled
              li
                a(href='#') Nordic Chair
              li
                a(href='#') Kruzo Aero
              li
                a(href='#') Ergonomic Chair
    .border-top.copyright
      .row.pt-4
        .col-lg-6
          p.mb-2.text-center.text-lg-start
            | Copyright &copy;
            script.
              document.write(new Date().getFullYear());
            | . All Rights Reserved. &mdash; Designed with love by 
            a(href='https://untree.co') Untree.co
            |  Distributed By 
            a(hreff='https://themewagon.com') ThemeWagon
            // License information: https://untree.co/license/
        .col-lg-6.text-center.text-lg-end
          ul.list-unstyled.d-inline-flex.ms-auto
            li.me-4
              a(href='#') Terms &amp; Conditions
            li
              a(href='#') Privacy Policy